/node_modules
/.idea/*
/config/config.js
/src/view/about/index.html
/src/view/main/index.html
/src/view/page/index.html
/src/view/sitemap/index.html
/src/view/statistic/index.html
/src/view/layout/footer.html
/src/view/layout/header.html