<!DOCTYPE html>
<html>
<head lang="ru">
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/img/favicon.ico"/>
    <meta property="og:title" content="SocRent :: Объявления аренды квартир из социальных сетей"/>
    <meta property="og:image" content="http://socrent.ru/img/logo.png"/>
    <meta property="og:site_name" content="socrent.ru"/>
    <meta property="og:description" content="Объявления аренды квартир из социальных сетей"/>
    <description>О проекте SocRent</description>

    <link rel="stylesheet" href="/style/style.css?v1488880232135">

    <title>SocRent :: Объявления аренды квартир из социальных сетей</title>

</head>

<body>

<div class="wrapper">
    <div class="wrapper-content">

        <!-- @import src/view/dist/layout/header.html -->

        <div class="block-about">
            <p>SocRent - это автоматический сервис, который собирает объявления из популярных социальных сетей,
                сортирует их и показывает в удобном формате с возможностью поиска.</p>
            <br>
            <p>Объявления берутся из сообществ, пабликов, групп и стен пользователей.</p>
            <p>Для сортировки используются машинные алгоритмы,
                поэтому иногда объявления могут быть классифицированны неверно.</p>
            <br>
            <p>На данном этапе сервис работает только для города Санкт-Петербург.</p>
            <br>
            <p>По всем вашим предложениям и пожеланиям можно написать в нашу группу <a
                    href="https://vk.com/public140724846">Вконтакте</a></p>
        </div>
    </div>

    <!-- @import src/view/dist/layout/footer.html -->

</div>

</body>

</html>