.block-header {
    width: 100%;
    height: 50px;
    background-color: @main-color;
    position: relative;
    z-index: 20;

    h1 {
        font-size: 20px;
        padding-right: 15px;
        display: inline;
        color: white;
    }

    .content {
        width: 1180px;
        margin-left: auto;
        margin-right: auto;
        .filter-city {
            height: 28px;
            width: 150px;
            margin-top: 10px;
            background-color: #ffffff;
            line-height: @main-line-height;
            font-size: @main-font-size;
            border: 1px solid @main-border-color;
            border-radius: 3px;

            &:hover, &:checked {
                cursor: pointer;
            }
        }
    }
}

@media all and (max-width: 1280px) {
    .block-header {
        .content {
            padding-left: 50px;
            padding-right: 50px;
            margin: 0;
            width: 100%;
        }
    }
}

@media all and (max-width: 885px) {
    .content {
        padding-right: 0;
        .search-results-items{
            width: 100%;
        }
    }
}