.block-footer {
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  width: 100%;
  margin-top: 100px;
  height: 120px;
  background-color: #6D6D6D;

  .content {
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;

     .text{
      font-size: 13px;
      color: #ffffff;

       &:nth-child(1) {
         margin-bottom: 20px;
       }
    }

    .version {
      margin-top: 20px;
      font-size: 13px;
      color: #ffffff;
    }
  }
}


