{{##def.type:type:
{{? type === 0 }}
Комната
{{?? type === 1 }}
1-комнатная квартира
{{?? type === 2 }}
2-комнатная квартира
{{?? type === 3 }}
3-комнатная квартира
{{?? type === 4 }}
4-комнатная квартира
{{?? type === 5 }}
Студия
{{?}}
#}}

{{##def.link:item:
{{? item.type === 0 }}
/rent/saint-petersburg/komnaty/room-p.{{= item._id }}
{{?? item.type === 1 }}
/rent/saint-petersburg/kvartiry/1-k-kvartira-p.{{= item._id }}
{{?? item.type === 2 }}
/rent/saint-petersburg/kvartiry/2-k-kvartira-p.{{= item._id }}
{{?? item.type === 3 }}
/rent/saint-petersburg/kvartiry/3-k-kvartira-p.{{= item._id }}
{{?? item.type === 4 }}
/rent/saint-petersburg/kvartiry/4-k-kvartira-p.{{= item._id }}
{{?? item.type === 5 }}
/rent/saint-petersburg/kvartiry/studia-p.{{= item._id }}
{{?}}
#}}

<!DOCTYPE html>
<html>
<head lang="ru">
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/img/favicon.ico"/>

    <title>SocRent :: Снять без агенств и посредников квартиру комнату в Санкт-Петербурге</title>

    <description>Снять без агенств и посредников квартиру комнату в Санкт-Петербурге на SocRent</description>
    <meta name="description"
          content="Снять без агенств и посредников квартиру комнату в Санкт-Петербурге на SocRent"/>
    <meta name="keywords" content="снять,квартиру,комнату,без посредников,без агентов,ВКонтакте,Санкт-Петербург" />
    <meta name="mrc__share_title" content="Объявления аренды на SocRent"/>
    <meta name="mrc__share_description"
          content="Объявления аренды на Socrent"/>

    <meta property="og:title" content="Объявления аренды квартир из социальных сетей"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://socrent.ru"/>
    <meta property="og:site_name" content="SocRent"/>
    <meta property="og:description"
          content="Объявления аренды квартир из социальных сетей"/>

    <meta property="og:image" content="https://socrent.ru/img/logo.png"/>

    <link rel="stylesheet" href="/style/style.css?v1">

    <script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Service",
  "serviceType": "Агрегатор объявлений аренды",
  "logo": "https://socrent.ru/img/logo.png",
  "name": "SocRent",
  "description": "Снять без агенств и посредников квартиру комнату в Санкт-Петербурге на SocRent"
}
   </script>

</head>

<body>

        <!-- @import src/view/dist/layout/header.html -->

        <div class="block-search-filters">

            <div class="row">

                <select title="Тип недвижимости" class="filter-realty">
                    <option value="flat" {{? it.req.realty ===
                    'flat' }} selected="selected" {{?}}>Квартира</option>
                    <option value="room" {{? it.req.realty ===
                    'room' }} selected="selected" {{?}}>Комната</option>
                </select>

                <span class="filter-area {{? it.req.realty === 'flat'}} hide {{?}}" >
        <input title="Площадь комнаты от" type="text" placeholder="от" class="from" value="{{= it.req.area_from }}">
        <input title="Площадь комнаты до" type="text" placeholder="до" class="to" value="{{= it.req.area_to }}">
        <span class="currency">м²</span>
                </span>

                <span class="filter-realty-add {{? it.req.realty === 'room' }} hide {{?}}">

            <input id="realty-0" type="checkbox"
                   {{? it.req.realty_add.indexOf('5') !== -1 }} checked {{?}} value="5">
            <label for="realty-0" title="Квартиры студии">Студия</label>

        <input id="realty-1" type="checkbox"
               {{? it.req.realty_add.indexOf('1') !== -1 }} checked {{?}} value="1">
         <label for="realty-1" title="Однокомнатные квартиры">1</label>

        <input id="realty-2" type="checkbox"
               {{? it.req.realty_add.indexOf('2') !== -1 }} checked {{?}} value="2">
         <label for="realty-2" title="Двухкомнатные квартиры">2</label>

        <input id="realty-3" type="checkbox"
               {{? it.req.realty_add.indexOf('3') !== -1 }} checked {{?}} value="3">
         <label for="realty-3" title="Трехкомнатные квартиры">3</label>

        <input id="realty-4" type="checkbox"
               {{? it.req.realty_add.indexOf('4') !== -1 }} checked {{?}} value="4">
        <label for="realty-4" title="Многокомнатнтые квартиры">4+</label>
                    <label>Комнат</label>

            </span>
                <button title="Метро" type="button" class="btn filter-subway">{{= it.subway_name }}</button>
            </div>

            <div class="row">
                <span class="filter-price">
                <input title="Цена от" type="text" placeholder="от" class="from" value="{{= it.req.price_from }}">
                <input title="Цена до" type="text" placeholder="до" class="to" value="{{= it.req.price_to }}">
                <span class="currency">&#8381;</span>
            </span>
                <span class="filter-photo">

            <input type="checkbox" id="filter_photo" {{? it.req.photo }} checked {{?}}>
            <label title="Искать с фото" for="filter_photo">Искать с фото</label>
            </span>

                <button title="Найти" type="button" class="btn search-btn">Найти</button>

            </div>

        </div>

        <div class="block-search-filters-switch">
        <div class="search search-subway-btn">найти</div>
            <div class="block-filter-subway">
                <div class="block-subway">
                    <div class="close"></div>

                    <!-- @import src/view/dist/layout/map.html -->

                    <div class="stations">
                        <div class="list-name">Станции:</div>
                        <div class="list"></div>
                    </div>
                </div>

            </div>
        </div>

        <div class="block-search-controls">

            <div class="order">

                <label for="order-date">Сортировка:</label>

                <input id="order-date" type="radio" name="order" {{? it.req.order=== 'date' }} checked="checked" {{?}}
                value="date">
                <label title="Сортировать по дате добавления" for="order-date">по дате добавления</label>

                <input id="order-price" type="radio" name="order" {{? it.req.order=== 'price' }} checked="checked" {{?}}
                value="price">
                <label title="Сортировать по цене" for="order-price">по цене</label>

            </div>

        </div>

        <div class="block-search-results">

            <div class="search-results-head">
                <h1>Снять {{? it.req.realty === 'flat' }}квартиру{{??}}комнату{{?}} в Санкт-Петербурге</h1>
            </div>

            <div class="result-count">
                Результатов: {{= it.items_count }}
            </div>

            <div class="search-results-items">

                {{~ it.items :item:item_index }}

                <div class="search-results-item">

                    <div class="row1">

                        <div class="name">
                            <a href="{{#def.link:item }}">{{#def.type:item.type }}</a>
                        </div>

                        <div class="area">
                            {{? null !== item.area }}
                            , {{= item.area}} м²
                            {{?}}
                        </div>

                        <div class="price">
                            {{? null !== item.price }}
                            <span class="comma">, </span>{{= item.price }} &#8381; / мес
                            {{?}}
                        </div>

                        <div class="subways">
                            {{~ item.subways :subway_id:subway_index }}

                            {{? subway_index < 4 }}
                            <div class="subway">

                                {{? typeof it.subways[subway_id] !== 'undefined' }}

                                {{~ it.subways[subway_id].color :color }}

                                <span class="subway-label" style="background-color: {{= color }}"></span>

                                {{~}}

                                <span class="subway-name">{{= it.subways[subway_id].name }}</span>

                                {{?}}

                            </div>

                            {{?}}

                            {{~}}
                        </div>


                        <div class="date">
                            размещено {{= item.timestamp }}
                        </div>

                    </div>
                    <div class="row2">

                        <div class="person">
                            <a href="{{= item.contacts.person.link }}" target="_blank" rel="nofollow">{{= item.contacts.person.name
                                }}</a>
                        </div>

                        {{? item.contacts.person.link.length }}
                        <div class="write">
                            <a href="{{= item.contacts.person.write }}" target="_blank" rel="nofollow"
                               title="Написать сообщение">
                                <img src="/img/contact.svg">
                            </a>
                        </div>

                        {{?}}

                        {{~ item.contacts.phones :phone }}
                        <div class="phone">
                            {{= phone }}
                        </div>
                        {{~}}

                    </div>

                    {{? item.photos.length > 0 }}

                    <div class="row4">

                        <div class="previews">

                            <div class="slider">

                                <div class="arrow-btn left">
                                    <div class="arrow"></div>
                                </div>
                                <div class="arrow-btn right">
                                    <div class="arrow"></div>
                                </div>

                                <div class="slider-inner">
                                    {{~ item.photos :preview }}
                                    <div class="slide preview {{? item_index > 4 }} img-lazy-load {{?}}" data-src="{{= preview.high }}"
                                         {{? item_index <= 4 }}style="background-image: url('{{= preview.high }}')"{{?}} >
                                    </div>
                                    {{~}}
                                </div>

                            </div>

                        </div>

                    </div>

                    {{?}}

                    <div class="row5">

                        <p>{{= item.description }}
                            <span class="next">
                            <span class="opacity"></span>
                            <span class="dot">...читать дальше</span>
                        </span>
                        </p>

                    </div>

                </div>

                {{~}}
            </div>

        </div>

        <div class="block-pagination">

            {{? it.pagination.length > 1 }}

            {{##def.first_page: {{= it.pagination[0] }} #}}
            {{##def.last_page: {{= it.pagination[it.pagination.length - 1] }} #}}
            {{##def.next_page: {{= (parseInt(it.req.page) + 1) }} #}}

            {{? parseInt(it.req.page) !== 1 && parseInt(it.pagination[0]) !== 1 }}
            <input id="page-first" type="radio" name="page" value="1">
            <label for="page-first">В начало</label>
            {{?}}

            {{~ it.pagination :page }}
            <input id="page-{{= page }}" type="radio" name="page" {{? parseInt(page)=== parseInt(it.req.page) }}
                   checked="checked" {{?}}
                   value="{{= page }}">
            <label for="page-{{= page }}">{{= page }}</label>
            {{~}}

            {{? it.pagination.length > 1 && it.pagination.length > it.req.page }}
            <input id="page-next" type="radio" name="page" value="{{# def.next_page }}">
            <label for="page-next">Следующая</label>
            {{?}}

            {{?}}

        </div>

        <div class="block-photo-full-screen">

            <div class="description"></div>
            <div class="btn-close">
                <img src="/img/close.svg">
            </div>

            <div class="photo">
                <img src="/img/pic.gif">
            </div>

            <div class="previews">
                <div class="slider">
                    <div class="arrow-btn left">
                        <div class="arrow"></div>
                    </div>
                    <div class="arrow-btn right">
                        <div class="arrow"></div>
                    </div>
                    <div class="slider-inner"></div>
                </div>
            </div>
        </div>


    <!-- @import src/view/dist/layout/footer.html -->

</body>

<script defer src="/js/common.min.js?v1"></script>
<script defer src="/js/main.min.js?v1"></script>

<!-- @import src/view/dist/layout/metrika.html -->

</html>