{{##def.link:item:
{{? item.type === 0 }}
/rent/saint-petersburg/komnaty/room-p.{{= item._id }}
{{?? item.type === 1 }}
/rent/saint-petersburg/kvartiry/1-k-kvartira-p.{{= item._id }}
{{?? item.type === 2 }}
/rent/saint-petersburg/kvartiry/2-k-kvartira-p.{{= item._id }}
{{?? item.type === 3 }}
/rent/saint-petersburg/kvartiry/3-k-kvartira-p.{{= item._id }}
{{?? item.type === 4 }}
/rent/saint-petersburg/kvartiry/4-k-kvartira-p.{{= item._id }}
{{?? item.type === 5 }}
/rent/saint-petersburg/kvartiry/studia-p.{{= item._id }}
{{?}}
#}}


<?xml version="1.0" encoding="UTF-8"?>

<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">

    {{~ it.notes :note }}

   <url>

      <loc>https://socrent.ru{{#def.link:note }}</loc>

      <lastmod>{{= note.timestamp }}</lastmod>

      <changefreq>never</changefreq>

      <priority>0.5</priority>

   </url>

   {{~}}

</urlset>