

            {{~ it.array :item:index }}


            <a href="/page" class="search-results-item" target="_blank">

                <div class="column-center">
                    <h3 class="head">
                        {{= item.area }} м²
                    </h3>

                    <div class="subway">


                    </div>

                    <div class="source">
                        {{? item.source === 'vk.com' }}
                        <img src="/img/logo/vk.png">
                        <span>Vk</span>
                        {{?}}
                    </div>

                    <div class="address">
                        {{= item.address }}
                    </div>

                </div>
                <div class="column-right">
                    <div class="price">
                        {{= item.price }}
                        <span>P / мес</span>
                    </div>
                    <div class="floor">
                        12 этаж из 16
                    </div>
                    <div class="publish-date">
                        {{= item.timestamp }}
                    </div>
                </div>
            </a>


            {{~}}