{{##def.type:type:
{{? type === 0 }}
Комната
{{?? type === 1 }}
1 комнатная квартира
{{?? type === 2 }}
2 комнатная квартира
{{?? type === 3 }}
3 комнатная квартира
{{?? type === 4 }}
4 комнатная квартира
{{?? type === 5 }}
Студия
{{?}}
#}}

{{##def.link:item:
{{? item.type === 0 }}
/rent/saint-petersburg/komnaty/room-p.{{= item._id }}
{{?? item.type === 1 }}
/rent/saint-petersburg/kvartiry/1-k-kvartira-p.{{= item._id }}
{{?? item.type === 2 }}
/rent/saint-petersburg/kvartiry/2-k-kvartira-p.{{= item._id }}
{{?? item.type === 3 }}
/rent/saint-petersburg/kvartiry/3-k-kvartira-p.{{= item._id }}
{{?? item.type === 4 }}
/rent/saint-petersburg/kvartiry/4-k-kvartira-p.{{= item._id }}
{{?? item.type === 5 }}
/rent/saint-petersburg/kvartiry/studia-p.{{= item._id }}
{{?}}
#}}

<!DOCTYPE html>
<html>
<head lang="ru">
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="shortcut icon" href="/img/favicon.ico"/>

    <title>{{#def.type:it.item.type }}{{? null !== it.item.area }}, {{= it.item.area}} м²{{?}} снять без агенств и посредников в Санкт-Петербурге на SocRent &#8212;
        Объявления на сайте SocRent</title>

    <description>{{#def.type:it.item.type }}{{? null !== it.item.area }}, {{= it.item.area}} м²{{?}} снять без агенств и посредников в Санкт-Петербурге на SocRent </description>
    <meta name="description"
          content="{{#def.type:it.item.type }}{{? null !== it.item.area }}, {{= it.item.area}} м²{{?}} снять без агенств и посредников в Санкт-Петербурге на SocRent"/>
    <meta name="keywords" content="снять,{{#def.type:it.item.type }},без посредников,без агентов,ВКонтакте,Санкт-Петербург" />
    <meta name="mrc__share_title" content="Объявление на Socrent - {{#def.type:it.item.type }}{{? null !== it.item.area }}, {{= it.item.area}} м²{{?}}"/>
    <meta name="mrc__share_description"
          content="Сдается {{#def.type:it.item.type }}{{? null !== it.item.area }}, {{= it.item.area}} м²{{?}}"/>

    {{? it.item.photos.length }}
        <link rel="image_src" href="{{= it.item.photos[0].low }}"/>
    {{?}}

    <meta property="og:title" content="{{#def.type:it.item.type }}{{? null !== it.item.area }}, {{= it.item.area}} м²{{?}}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://www.avito.ru/sterlitamak/kvartiry/1-k_kvartira_25_m_55_et._998018660"/>
    <meta property="og:site_name" content="SocRent"/>
    <meta property="og:description"
          content="Сдается {{#def.type:it.item.type }}{{? null !== it.item.area }}, {{= it.item.area}} м²{{?}}"/>

    {{~ it.item.photos:photo }}
       <meta property="og:image" content="{{= photo.low }}"/>
    {{~}}

    <link rel="stylesheet" href="/style/style.css?v1488880232135">
</head>
<body>

<div class="wrapper">
    <div class="wrapper-content">

        <div class="block-header">
            <div class="content">
                <div class="title">
                    <a href="/">
                        <span class="soc">Soc</span><span class="rent">Rent</span>
                    </a>
                    <span class="text-muted">Аренда без посредников</span>
                </div>
                <nav>
                    <a href="/" class="active">Объявления</a>
                    <a href="/about">О проекте</a>
                </nav>
            </div>
        </div>

        <div class="block-card-head">

            <div class="row1">

                <div class="name">
                    {{#def.type:it.item.type }}
                </div>

                <div class="area">
                    {{? null !== it.item.area }}
                        , {{= it.item.area}} м²
                    {{?}}
                </div>

                <div class="price">
                    {{? null !== it.item.price }}
                        {{= it.item.price }} &#8381; / мес
                    {{??}}
                        Цена не указана
                    {{?}}
                </div>
            </div>

            <div class="row2">
                <div class="subways">
                    {{~ it.item.subways :subway_id:subway_index }}

                        <div class="subway">
                            {{? typeof it.subways[subway_id] !== 'undefined' }}

                                {{~ it.subways[subway_id].color :color }}

                                <span class="subway-label" style="background-color: {{= color }}"></span>

                                {{~}}

                                <span class="subway-name">{{= it.subways[subway_id].name }}</span>

                            {{?}}

                        </div>
                    {{~}}
                </div>

                <div class="date">
                    размещено {{= it.item.timestamp }}
                </div>

            </div>

            <div class="row3">

                <div class="person">
                    <a href="{{= it.item.contacts.person.link }}" target="_blank" rel="nofollow">{{= it.item.contacts.person.name }}</a>
                </div>

                {{~ it.item.contacts.phones :phone }}
                    <div class="phone">
                        {{= phone }}
                    </div>
                {{~}}

                {{? it.item.contacts.person.link.length }}
                    <div class="write">
                        <a href="{{= it.item.contacts.person.write }}" target="_blank" rel="nofollow" title="Написать сообщение">Написать сообщение</a>
                    </div>
                {{?}}
            </div>

        </div>

        {{? it.item.photos.length }}
        <div class="block-card-photo">

            <div class="block-left">
                <div id="js_full_view" class="full-view">
                    <img src="/img/full-screen.svg">
                </div>
                <div id="js_main_blur" class="blur"
                     style="background-image: url('{{? it.item.photos.length }} {{= it.item.photos[0].high }} {{??}} /img/blue.png {{?}}')"></div>
                <img id="js_main_photo"
                     src="{{? it.item.photos.length }} {{= it.item.photos[0].high }} {{??}} /img/blue.png {{?}}">
            </div>

        </div>
        {{? it.item.photos.length > 1 }}
        <div class="block-card-preview">

            <div class="previews">

                <div class="slider">
                    <div class="arrow-btn left">
                        <div class="arrow"></div>
                    </div>
                    <div class="arrow-btn right">
                        <div class="arrow"></div>
                    </div>
                    <div class="slider-inner">
                        {{~ it.item.photos :preview:preview_index }}
                        <div class="slide preview {{? preview_index === 0 }} active {{?}}" data-src="{{= preview.high }}"
                             style="background-image: url('{{= preview.high }}')">
                        </div>
                        {{~}}
                    </div>
                </div>

            </div>
        </div>
        {{?}}

        {{?}}

        <div class="block-card-photo-full-screen">

            <div class="btn-close">
                <img src="/img/close.svg">
            </div>

            <div class="photo">
                <img id="js_main_photo_full"
                     src="{{? it.item.photos.length }} {{= it.item.photos[0].high }} {{??}} /img/blue.png {{?}}">
            </div>

            <div class="previews">
                <div class="slider">
                    <div class="arrow-btn left">
                        <div class="arrow"></div>
                    </div>
                    <div class="arrow-btn right">
                        <div class="arrow"></div>
                    </div>
                    <div class="slider-inner"></div>
                </div>
            </div>
        </div>

        <div class="block-card-description">
            <span class="title">Описание от арендодателя</span>
            <p>{{= it.item.description }}</p>
        </div>

        <div id="vk_comments" class="block-card-comments"></div>

    </div>

    <div class="wrapper-footer">

        <div class="block-footer">
            <div class="content">
                <div class="text">SocRent - это автоматический сервис, который собирает объявления из популярных
                    социальных сетей
                </div>
                <div class="divider"></div>
                <div class="text">Предложения на сайте носят информационный характер</div>
                <div class="text">Мы не несем ответственность за содержание и предложения в текстах объявлений</div>
                <div class="version">{{version}}</div>
            </div>
        </div>

    </div>
</div>

</body>

<script defer src="/js/common.min.js?v1488880232135"></script>
<script defer src="/js/page.min.js?v1488880232135"></script>
<script type="text/javascript" src="//vk.com/js/api/openapi.js?142"></script>

<script type="text/javascript">
  VK.init({apiId: 5939156, onlyWidgets: true});
  VK.Widgets.Comments("vk_comments", {limit: 20, attach: "*", pageUrl: '{{#def.link:it.item }}' }, '{{= it.item._id }}');
</script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter42755074 = new Ya.Metrika({
                    id:42755074,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/42755074" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</html>