<!DOCTYPE html>
<html>
<head lang="ru">
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/img/favicon.ico"/>
    <meta property="og:title" content="SocRent :: Объявления аренды квартир из социальных сетей"/>
    <meta property="og:image" content="http://socrent.ru/img/logo.png"/>
    <meta property="og:site_name" content="socrent.ru"/>
    <meta property="og:description" content="Объявления аренды квартир из социальных сетей"/>
    <description>О проекте SocRent</description>

    <link rel="stylesheet" href="/style/style.css?v1488880232135">

    <title>SocRent :: Объявления аренды квартир из социальных сетей</title>

</head>

<body>

<div class="wrapper">
    <div class="wrapper-content">

        <div class="block-header">
            <div class="content">
                <div class="title">
                    <a href="/">
                        <span class="soc">Soc</span><span class="rent">Rent</span>
                    </a>
                    <span class="text-muted">Объявления аренды квартир из социальных сетей</span>
                </div>
                <nav>
                    <a href="/">Объявления</a>
                    <a href="/about" class="active">О проекте</a>
                </nav>
            </div>
        </div>

        <div class="block-about">
            <p>SocRent - это автоматический сервис, который собирает объявления из популярных социальных сетей,
                сортирует их и показывает в удобном формате с возможностью поиска.</p>
            <br>
            <p>Объявления берутся из сообществ, пабликов, групп и стен пользователей.</p>
                <p>Для сортировки используются машинные алгоритмы,
                    поэтому иногда объявления могут быть классифицированны неверно.</p>
            <br>
            <p>На данном этапе сервис работает только для города Санкт-Петербург.</p>
            <br>
            <p>По всем вашим предложениям и пожеланиям можно написать в нашу группу <a href="https://vk.com/public140724846">Вконтакте</a></p>
        </div>
    </div>

    <div class="wrapper-footer">
        <div class="block-footer">
            <div class="content">
                <div class="text">SocRent - это автоматический сервис, который собирает объявления из популярных
                    социальных
                    сетей
                </div>
                <div class="divider"></div>
                <div class="text">Предложения на сайте носят информационный характер</div>
                <div class="text">Мы не несем ответственность за содержание и предложения в текстах объявлений</div>
                <div class="version">{{version}}</div>
            </div>
        </div>
    </div>
</div>

</body>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter42755074 = new Ya.Metrika({
                    id: 42755074,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true,
                    webvisor: true
                });
            } catch (e) {
            }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () {
                n.parentNode.insertBefore(s, n);
            };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/42755074" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->