<?xml version="1.0" encoding="UTF-8"?>

<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">

   <url>

      <loc>https://socrent.ru/about</loc>

      <lastmod>{{= it.date }}</lastmod>

      <changefreq>weekly</changefreq>

      <priority>1</priority>

   </url>

   {{~ it.realties :realty }}

   {{~ it.cities :city }}

   <url>

      <loc>https://socrent.ru/{{= city }}/{{= realty }}</loc>

      <lastmod>{{= it.date }}</lastmod>

      <changefreq>always</changefreq>

      <priority>1</priority>

   </url>

   {{~}}

   {{~}}

</urlset>