{{##def.link:item:
{{? item.type === 0 }}
/{{= item.city }}/komnata/{{= item._id }}
{{?? item.type === 1 }}
/{{= item.city }}/1-kvartira/{{= item._id }}
{{?? item.type === 2 }}
/{{= item.city }}/2-kvartira/{{= item._id }}
{{?? item.type === 3 }}
/{{= item.city }}/3-kvartira/{{= item._id }}
{{?? item.type === 4 }}
/{{= item.city }}/4-kvartira/{{= item._id }}
{{?? item.type === 5 }}
/{{= item.city }}/studia/{{= item._id }}
{{?}}
#}}

<?xml version="1.0" encoding="UTF-8"?>

<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">

    {{~ it.notes :note }}

   <url>

      <loc>https://socrent.ru{{#def.link:note }}</loc>

      <lastmod>{{= note.timestamp }}</lastmod>

      <changefreq>daily</changefreq>

      <priority>0.5</priority>

   </url>

   {{~}}

</urlset>