<!DOCTYPE html>
<html>
<head lang="ru">
    <base href="/">
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/img/favicon.ico"/>

    <title>SocRent :: Страница не найдена</title>

    <description>О сайте SocRent</description>
    <meta name="description" content="О сайте SocRent"/>
    <meta name="keywords" content="socrent" />
    <meta name="mrc__share_title" content="О сайте SocRent"/>
    <meta name="mrc__share_description" content="О проекте SocRent"/>

    <meta property="og:title" content="О сайте SocRent"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://socrent.ru/about"/>
    <meta property="og:site_name" content="SocRent"/>
    <meta property="og:description" content="О сайте SocRent"/>

    <meta property="og:image" content="https://socrent.ru/img/logo.png"/>

    <link rel="stylesheet" href="/style/style.css?v1">


</head>

<body>

<h1>Страница не найдена</h1>

</body>

<!-- @import src/view/dist/layout/metrika.html -->

</html>