<li><a href="/novosibirsk/{{= it.req.realty }}?subway=412">Берёзовая роща</a></li>
<li><a href="/novosibirsk/{{= it.req.realty }}?subway=416">Волочаевская</a></li>
<li><a href="/novosibirsk/{{= it.req.realty }}?subway=42">Гагаринская</a></li>
<li><a href="/novosibirsk/{{= it.req.realty }}?subway=415">Доватора</a></li>
<li><a href="/novosibirsk/{{= it.req.realty }}?subway=41">Заельцовская</a></li>
<li><a href="/novosibirsk/{{= it.req.realty }}?subway=413">Золотая нива</a></li>
<li><a href="/novosibirsk/{{= it.req.realty }}?subway=43">Красный проспект</a></li>
<li><a href="/novosibirsk/{{= it.req.realty }}?subway=411">Маршала Покрышкина</a></li>
<li><a href="/novosibirsk/{{= it.req.realty }}?subway=45">Октябрьская</a></li>
<li><a href="/novosibirsk/{{= it.req.realty }}?subway=49">Площадь Гарина-Михайловского</a></li>
<li><a href="/novosibirsk/{{= it.req.realty }}?subway=44">Площадь Ленина</a></li>
<li><a href="/novosibirsk/{{= it.req.realty }}?subway=48">Площадь Маркса</a></li>
<li><a href="/novosibirsk/{{= it.req.realty }}?subway=414">Площадь Станиславского</a></li>
<li><a href="/novosibirsk/{{= it.req.realty }}?subway=46">Речной вокзал</a></li>
<li><a href="/novosibirsk/{{= it.req.realty }}?subway=410">Сибирская</a></li>
<li><a href="/novosibirsk/{{= it.req.realty }}?subway=417">Спортивная</a></li>
<li><a href="/novosibirsk/{{= it.req.realty }}?subway=47">Студенческая</a></li>
