<ul>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2131">Авиамоторная</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=235">Автозаводская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=295">Академическая</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=275">Александровский сад</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=287">Алексеевская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=244">Алма-Атинская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2136">Алтуфьево</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2159">Аннино</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=257">Арбатская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=227">Аэропорт</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=283">Бабушкинская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=269">Багратионовская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2113">Баррикадная</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=260">Бауманская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2111">Беговая</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=229">Белорусская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=299">Беляево</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2137">Бибирево</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=211">Библиотека имени Ленина</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2182">Битцевский парк</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2177">Борисово</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2147">Боровицкая</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=285">Ботанический сад</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2175">Братиславская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2186">Бульвар Адмирала Ушакова</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2160">Бульвар Дмитрия Донского</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=21">Бульвар Рокоссовского</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2188">Бунинская аллея</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2162">Бутырская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=286">ВДНХ</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2180">Варшавская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2139">Владыкино</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=224">Водный стадион</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=225">Войковская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2117">Волгоградский проспект</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2173">Волжская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=247">Волоколамская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=216">Воробьёвы горы</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=274">Выставочная</a></li>
</ul>

<ul>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2192">Выставочный центр</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2121">Выхино</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2128">Деловой центр</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=228">Динамо</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2142">Дмитровская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=277">Добрынинская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=242">Домодедовская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2164">Достоевская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2170">Дубровка</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2123">Жулебино</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2179">Зябликово</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=264">Измайловская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=298">Калужская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=239">Кантемировская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2181">Каховская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=238">Каширская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=255">Киевская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=291">Китай-город</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2171">Кожуховская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=237">Коломенская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=26">Комсомольская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2100">Коньково</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2124">Котельники</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=243">Красногвардейская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=281">Краснопресненская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=25">Красносельская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=27">Красные Ворота</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2169">Крестьянская застава</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=212">Кропоткинская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=250">Крылатское</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2115">Кузнецкий Мост</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2119">Кузьминки</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=252">Кунцевская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=259">Курская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=271">Кутузовская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=294">Ленинский проспект</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2122">Лермонтовский проспект</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2183">Лесопарковая</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2126">Ломоносовский проспект</a></li>
</ul>

<ul>
    <li><a href="/moskva/{{= it.req.realty }}?subway=29">Лубянка</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2174">Люблино</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2129">Марксистская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2163">Марьина роща</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2176">Марьино</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=230">Маяковская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=282">Медведково</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=273">Международная</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2144">Менделеевская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2127">Минская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=246">Митино</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=251">Молодёжная</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=248">Мякинино</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2151">Нагатинская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2152">Нагорная</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2153">Нахимовский проспект</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2134">Новогиреево</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2135">Новокосино</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=233">Новокузнецкая</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=280">Новослободская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2103">Новоясеневская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=297">Новые Черёмушки</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=276">Октябрьская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2109">Октябрьское поле</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=241">Орехово</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2138">Отрадное</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=210">Охотный Ряд</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=234">Павелецкая</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=254">Парк Победы</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=213">Парк культуры</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=263">Партизанская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=265">Первомайская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2133">Перово</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2140">Петровско-Разумовская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2172">Печатники</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=267">Пионерская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2104">Планерная</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2130">Площадь Ильича</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=258">Площадь Революции</a></li>
</ul>

<ul>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2110">Полежаевская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2148">Полянка</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2157">Пражская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=23">Преображенская площадь</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2116">Пролетарская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=218">Проспект Вернадского</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=279">Проспект Мира</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=296">Профсоюзная</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2114">Пушкинская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=245">Пятницкое шоссе</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2125">Раменки</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=223">Речной вокзал</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=288">Рижская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2168">Римская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=221">Румянцево</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2120">Рязанский проспект</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2143">Савёловская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=222">Саларьево</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=284">Свиблово</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2154">Севастопольская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=262">Семёновская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2149">Серпуховская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=253">Славянский бульвар</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=256">Смоленская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=226">Сокол</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=24">Сокольники</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2107">Спартак</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=215">Спортивная</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2166">Сретенский бульвар</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=249">Строгино</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=272">Студенческая</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=289">Сухаревская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2105">Сходненская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=278">Таганская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=231">Тверская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=232">Театральная</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2118">Текстильщики</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2190">Телецентр</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=236">Технопарк</a></li>
</ul>

<ul>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2141">Тимирязевская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=292">Третьяковская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=220">Тропарёво</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2165">Трубная</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2150">Тульская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=290">Тургеневская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2106">Тушинская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2101">Тёплый Стан</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2112">Улица 1905 года</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2191">Улица Академика Королёва</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2158">Улица Академика Янгеля</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2187">Улица Горчакова</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2189">Улица Милашенкова</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2193">Улица Сергея Эйзенштейна</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2185">Улица Скобелевская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2184">Улица Старокачаловская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=217">Университет</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=270">Фили</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=268">Филёвский парк</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2161">Фонвизинская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=214">Фрунзенская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=240">Царицыно</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2145">Цветной бульвар</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=22">Черкизовская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2155">Чертановская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2146">Чеховская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=28">Чистые пруды</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2167">Чкаловская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=293">Шаболовская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2178">Шипиловская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2132">Шоссе Энтузиастов</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2108">Щукинская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=266">Щёлковская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=261">Электрозаводская</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=219">Юго-Западная</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2156">Южная</a></li>
    <li><a href="/moskva/{{= it.req.realty }}?subway=2102">Ясенево</a></li>
</ul>

