<li><a href="/ekaterinburg/{{= it.req.realty }}?subway=79">Ботаническая</a></li>
<li><a href="/ekaterinburg/{{= it.req.realty }}?subway=710">Верх-Исетская</a></li>
<li><a href="/ekaterinburg/{{= it.req.realty }}?subway=715">Восточная</a></li>
<li><a href="/ekaterinburg/{{= it.req.realty }}?subway=717">Втузгородок</a></li>
<li><a href="/ekaterinburg/{{= it.req.realty }}?subway=77">Геологическая</a></li>
<li><a href="/ekaterinburg/{{= it.req.realty }}?subway=75">Динамо</a></li>
<li><a href="/ekaterinburg/{{= it.req.realty }}?subway=718">Каменные Палатки</a></li>
<li><a href="/ekaterinburg/{{= it.req.realty }}?subway=73">Машиностроителей</a></li>
<li><a href="/ekaterinburg/{{= it.req.realty }}?subway=711">Металлургическая</a></li>
<li><a href="/ekaterinburg/{{= it.req.realty }}?subway=76">Площадь 1905 года</a></li>
<li><a href="/ekaterinburg/{{= it.req.realty }}?subway=716">Политехническая</a></li>
<li><a href="/ekaterinburg/{{= it.req.realty }}?subway=71">Проспект Космонавтов</a></li>
<li><a href="/ekaterinburg/{{= it.req.realty }}?subway=712">Татищевская</a></li>
<li><a href="/ekaterinburg/{{= it.req.realty }}?subway=714">Театральная</a></li>
<li><a href="/ekaterinburg/{{= it.req.realty }}?subway=72">Уралмаш</a></li>
<li><a href="/ekaterinburg/{{= it.req.realty }}?subway=74">Уральская</a></li>
<li><a href="/ekaterinburg/{{= it.req.realty }}?subway=713">Уральских Коммунаров</a></li>
<li><a href="/ekaterinburg/{{= it.req.realty }}?subway=78">Чкаловская</a></li>
