<li><a href="/nizny-novgorod/{{= it.req.realty }}?subway=310">Автозаводская</a></li>
<li><a href="/nizny-novgorod/{{= it.req.realty }}?subway=324">Буревестник</a></li>
<li><a href="/nizny-novgorod/{{= it.req.realty }}?subway=323">Бурнаковская</a></li>
<li><a href="/nizny-novgorod/{{= it.req.realty }}?subway=325">Варя</a></li>
<li><a href="/nizny-novgorod/{{= it.req.realty }}?subway=319">Волга</a></li>
<li><a href="/nizny-novgorod/{{= it.req.realty }}?subway=331">Гаугеля</a></li>
<li><a href="/nizny-novgorod/{{= it.req.realty }}?subway=33">Горьковская</a></li>
<li><a href="/nizny-novgorod/{{= it.req.realty }}?subway=38">Двигатель Революции</a></li>
<li><a href="/nizny-novgorod/{{= it.req.realty }}?subway=37">Заречная</a></li>
<li><a href="/nizny-novgorod/{{= it.req.realty }}?subway=322">Канавинская</a></li>
<li><a href="/nizny-novgorod/{{= it.req.realty }}?subway=312">Кировская</a></li>
<li><a href="/nizny-novgorod/{{= it.req.realty }}?subway=315">Коломенская</a></li>
<li><a href="/nizny-novgorod/{{= it.req.realty }}?subway=311">Комсомольская</a></li>
<li><a href="/nizny-novgorod/{{= it.req.realty }}?subway=330">Корабелов</a></li>
<li><a href="/nizny-novgorod/{{= it.req.realty }}?subway=36">Ленинская</a></li>
<li><a href="/nizny-novgorod/{{= it.req.realty }}?subway=318">Луч</a></li>
<li><a href="/nizny-novgorod/{{= it.req.realty }}?subway=314">Мончегорская</a></li>
<li><a href="/nizny-novgorod/{{= it.req.realty }}?subway=34">Московская</a></li>
<li><a href="/nizny-novgorod/{{= it.req.realty }}?subway=317">Ольгино</a></li>
<li><a href="/nizny-novgorod/{{= it.req.realty }}?subway=32">Оперный театр</a></li>
<li><a href="/nizny-novgorod/{{= it.req.realty }}?subway=313">Парк культуры</a></li>
<li><a href="/nizny-novgorod/{{= it.req.realty }}?subway=327">Площадь Славы</a></li>
<li><a href="/nizny-novgorod/{{= it.req.realty }}?subway=329">Починки</a></li>
<li><a href="/nizny-novgorod/{{= it.req.realty }}?subway=39">Пролетарская</a></li>
<li><a href="/nizny-novgorod/{{= it.req.realty }}?subway=31">Сенная</a></li>
<li><a href="/nizny-novgorod/{{= it.req.realty }}?subway=326">Сормовская</a></li>
<li><a href="/nizny-novgorod/{{= it.req.realty }}?subway=320">Стрелка</a></li>
<li><a href="/nizny-novgorod/{{= it.req.realty }}?subway=35">Чкаловская</a></li>
<li><a href="/nizny-novgorod/{{= it.req.realty }}?subway=316">Юго-Западная</a></li>
<li><a href="/nizny-novgorod/{{= it.req.realty }}?subway=328">Янская</a></li>
<li><a href="/nizny-novgorod/{{= it.req.realty }}?subway=321">Ярмарка</a></li>
