{{##def.type:type:
{{? type === 0 }}
Комната
{{?? type === 1 }}
1-комнатная квартира
{{?? type === 2 }}
2-комнатная квартира
{{?? type === 3 }}
3-комнатная квартира
{{?? type === 4 }}
4-комнатная квартира
{{?? type === 5 }}
Студия
{{?}}
#}}

<!DOCTYPE html>
<html>
<head lang="ru">
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="/style/style.css?v1486539852541">

    <title>SocRent :: Объявления аренды квартир из социальных сетей</title>

    <script src="/js/ajax.js?v1486539852541"></script>
    <script src="/js/url.js?v1486539852541"></script>
    <script src="/js/class.js?v1486539852541"></script>
    <script src="/js/main.js?v1486539852541"></script>

    <script type="text/javascript">
        function imgOnError(element) {
            element.src = '/img/blue.png';
        }
    </script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function () {
                try {
                    w.yaCounter42755074 = new Ya.Metrika({
                        id: 42755074,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true,
                        webvisor: true
                    });
                } catch (e) {
                }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () {
                    n.parentNode.insertBefore(s, n);
                };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else {
                f();
            }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/42755074" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->

</head>

<body>

<div class="wrapper">
    <div class="wrapper-content">
        <div class="block-header">
            <div class="content">
                <div class="title">
                    <a href="/">
                        <span class="soc">Soc</span><span class="rent">Rent</span>
                    </a>
                    <span class="text-muted">Объявления аренды квартир из социальных сетей</span>
                </div>
                <nav>
                    <a href="/" class="active">Объявления</a>
                    <a href="/about">О проекте</a>
                </nav>
            </div>
        </div>

        <div class="block-search-filters">

            <div class="row">

                <select title="Тип недвижимости" class="filter-realty">
                    <option value="flat" {{? it.req.realty===
                    'flat' }} selected="selected" {{?}}>Квартира</option>
                    <option value="room" {{? it.req.realty===
                    'room' }} selected="selected" {{?}}>Комната</option>
                </select>

                <span class="filter-area" style="{{? it.req.realty === 'flat'}} display:none {{?}}">
        <input title="Площадь комнаты от" type="text" placeholder="от" class="from" value="{{= it.req.area_from }}">
        <input title="Площадь комнаты до" type="text" placeholder="до" class="to" value="{{= it.req.area_to }}">
        <span class="currency">м²</span>
    </span>

                <span class="filter-realty-add"
                      style="{{? it.req.realty === 'room' }} display:none {{?}}">

            <input id="realty-0" type="checkbox"
                   {{? it.req.realty_add.indexOf('5') !== -1 }} checked {{?}} value="5">
            <label for="realty-0" title="Квартиры студии">Студия</label>

        <input id="realty-1" type="checkbox"
               {{? it.req.realty_add.indexOf('1') !== -1 }} checked {{?}} value="1">
         <label for="realty-1" title="Однокомнатные квартиры">1</label>

        <input id="realty-2" type="checkbox"
               {{? it.req.realty_add.indexOf('2') !== -1 }} checked {{?}} value="2">
         <label for="realty-2" title="Двухкомнатные квартиры">2</label>

        <input id="realty-3" type="checkbox"
               {{? it.req.realty_add.indexOf('3') !== -1 }} checked {{?}} value="3">
         <label for="realty-3" title="Трехкомнатные квартиры">3</label>

        <input id="realty-4" type="checkbox"
               {{? it.req.realty_add.indexOf('4') !== -1 }} checked {{?}} value="4">
         <label for="realty-4" title="Многокомнатнтые квартиры">4+</label>

         <label>Комнат</label>
        </span>

                <button title="Метро" type="button" class="btn filter-subway">{{= it.subway_name }}</button>

            </div>

            <div class="row">

        <span class="filter-price">
          <input title="Цена от" type="text" placeholder="от" class="from" value="{{= it.req.price_from }}">
            <input title="Цена до" type="text" placeholder="до" class="to" value="{{= it.req.price_to }}">
            <span class="currency">&#8381;</span>
        </span>
                <span class="filter-photo">

        <input type="checkbox" id="filter_photo" {{? it.req.photo }} checked {{?}}>
            <label title="Искать с фото" for="filter_photo">Искать с фото</label>
        </span>

            </div>

            <button title="Найти" type="button" class="btn search-btn">Найти</button>

        </div>

        <div class="block-search-filters-switch">

            <div class="block-filter-subway">

                <svg class="subway" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 620 510">
                    <g class="subway__line">
                        <polyline points="227.5,11.5 227.5,497"/>
                        <g class="subway__station {{? it.req.subway.indexOf('121') !== -1 }}is-selected{{?}}"
                           data-id="121">
                            <circle cx="227.5" cy="32"/>
                            <text x="239" y="35">Пр-т Просвещения</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('120') !== -1 }}is-selected{{?}}"
                           data-id="120">
                            <circle cx="227.5" cy="11.5"/>
                            <text x="239" y="14.5">Парнас</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('136') !== -1  }}is-selected{{?}}"
                           data-id="136">
                            <circle cx="227.5" cy="497"/>
                            <text x="239" y="500">Купчино</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('135') !== -1  }}is-selected{{?}}"
                           data-id="135">
                            <circle cx="227.5" cy="476.5"/>
                            <text x="239" y="479.5">Звёздная</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('134') !== -1 }}is-selected{{?}}"
                           data-id="134">
                            <circle cx="227.5" cy="456.5"/>
                            <text x="239" y="459.5">Московская</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('133') !== -1 }}is-selected{{?}}"
                           data-id="133">
                            <circle cx="227.5" cy="436"/>
                            <text x="239" y="439">Парк Победы</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('132') !== -1 }}is-selected{{?}}"
                           data-id="132">
                            <circle cx="227.5" cy="416"/>
                            <text x="239" y="419">Электросила</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('131') !== -1 }}is-selected{{?}}"
                           data-id="131">
                            <circle cx="227.5" cy="396"/>
                            <text x="239" y="399">Московские ворота</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('7') !== -1 }}is-selected{{?}}"
                           data-transfer-id="7">
                            <circle cx="227.5" cy="329" r="5"/>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('130') !== -1 }}is-selected{{?}}"
                           data-id="130">
                            <circle cx="227.5" cy="376"/>
                            <text x="239" y="379">Фрунзенская</text>
                        </g>
                        <circle cx="227.5" cy="329"/>
                        <g class="subway__station {{? it.req.subway.indexOf('124') !== -1 }}is-selected{{?}}"
                           data-id="124">
                            <circle cx="227.5" cy="92"/>
                            <text x="239" y="95">Пионерская</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('123') !== -1 }}is-selected{{?}}"
                           data-id="123">
                            <circle cx="227.5" cy="72"/>
                            <text x="239" y="75">Удельная</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('125') !== -1 }}is-selected{{?}}"
                           data-id="125">
                            <circle cx="227.5" cy="112"/>
                            <text x="239" y="115">Чёрная речка</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('122') !== -1 }}is-selected{{?}}"
                           data-id="122">
                            <circle cx="227.5" cy="52"/>
                            <text x="239" y="55">Озерки</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('129') !== -1 }}is-selected{{?}}"
                           data-transfer-id="1" data-id="129">
                            <circle cx="227.5" cy="260"/>
                            <text x="126" y="266">Сенная площадь</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('128') !== -1 }}is-selected{{?}}"
                           data-transfer-id="3" data-id="128">
                            <circle cx="227.5" cy="183"/>
                            <text x="144" y="181">Невский пр-т</text>
                        </g>
                    </g>
                    <g class="subway__line">
                        <polyline points="86.5,11.5 86.5,164 173.75,251.25
    228,251.25 385.375,408.625 385.375,431"/>
                        <g class="subway__station {{? it.req.subway.indexOf('162') !== -1 }}is-selected{{?}}"
                           data-id="162">
                            <circle cx="354.5" cy="378"/>
                            <text x="366" y="380">Обводный канал</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('163') !== -1 }}is-selected{{?}}"
                           data-id="163">
                            <circle cx="385.5" cy="433"/>
                            <text x="396" y="436">Волковская</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('160') !== -1 }}is-selected{{?}}"
                           data-transfer-id="1" data-id="160">
                            <circle cx="221" cy="251"/>
                            <text x="173" y="241">Садовая</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('159') !== -1 }}is-selected{{?}}"
                           data-id="159">
                            <circle cx="144" cy="221"/>
                            <text x="45" y="231">Адмиралтейская</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('154') !== -1 }}is-selected{{?}}"
                           data-id="154">
                            <circle cx="86.5" cy="11.5"/>
                            <text x="98" y="14.5">Комендантский пр-т</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('155') !== -1 }}is-selected{{?}}"
                           data-id="155">
                            <circle cx="86.5" cy="32"/>
                            <text x="98" y="35">Старая деревня</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('156') !== -1 }}is-selected{{?}}"
                           data-id="156">
                            <circle cx="86.5" cy="72.5"/>
                            <text x="98" y="75.5">Крестовский остров</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('157') !== -1 }}is-selected{{?}}"
                           data-id="157">
                            <circle cx="86.5" cy="111"/>
                            <text x="98" y="115">Чкаловская</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('158') !== -1 }}is-selected{{?}}"
                           data-id="158">
                            <circle cx="86.5" cy="132.5"/>
                            <text x="98" y="135.5">Спортивная</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('161') !== -1 }}is-selected{{?}}"
                           data-transfer-id="4" data-id="161">
                            <circle cx="307.5" cy="331.5"/>
                            <text x="325" y="333">Звенигородская</text>
                        </g>
                    </g>
                    <g class="subway__line">
                        <polyline points="22,148 65,191 374,191 476.5,293.5
    476.5,476"/>
                        <g class="subway__station {{? it.req.subway.indexOf('6') !== -1 }}is-selected{{?}}"
                           data-transfer-id="6">
                            <circle cx="442.5" cy="259.5"/>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('137') !== -1 }}is-selected{{?}}"
                           data-id="137">
                            <circle cx="23" cy="149"/>
                            <text x="4" y="139">Приморская</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('138') !== -1 }}is-selected{{?}}"
                           data-id="138">
                            <circle cx="64" cy="189.5"/>
                            <text x="4" y="208">Василеостровская</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('140') !== -1 }}is-selected{{?}}"
                           data-transfer-id="2" data-id="140">
                            <circle cx="362" cy="191"/>
                            <text x="299" y="181">Маяковская</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('142') !== -1 }}is-selected{{?}}"
                           data-id="142">
                            <circle cx="476.5" cy="393"/>
                            <text x="488" y="396">Елизаровская</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('143') !== -1 }}is-selected{{?}}"
                           data-id="143">
                            <circle cx="476.5" cy="413"/>
                            <text x="488" y="416">Ломоносовская</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('144') !== -1 }}is-selected{{?}}"
                           data-id="144">
                            <circle cx="476.5" cy="434"/>
                            <text x="488" y="437">Пролетарская</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('145') !== -1 }}is-selected{{?}}"
                           data-id="145">
                            <circle cx="476.5" cy="454"/>
                            <text x="488" y="457">Обухово</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('146') !== -1 }}is-selected{{?}}"
                           data-id="146">
                            <circle cx="476.5" cy="475"/>
                            <text x="488" y="478">Рыбацкое</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('139') !== -1 }}is-selected{{?}}"
                           data-transfer-id="3" data-id="139">
                            <circle cx="227.5" cy="194"/>
                            <text x="236" y="207">Гостиный двор</text>
                        </g>
                    </g>
                    <g class="subway__line">
                        <polyline points="374,11 374,191 315.5,249.5 315.5,341
    189,341 106,424 106,485"/>
                        <g class="subway__station {{? it.req.subway.indexOf('11') !== -1 }}is-selected{{?}}"
                           data-id="11">
                            <circle cx="374" cy="11.5"/>
                            <text x="385" y="14.5">Девяткино</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('12') !== -1 }}is-selected{{?}}"
                           data-id="12">
                            <circle cx="374" cy="32"/>
                            <text x="385" y="35">Гражданский пр-т</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('13') !== -1 }}is-selected{{?}}"
                           data-id="13">
                            <circle cx="374" cy="52"/>
                            <text x="385" y="55">Академическая</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('15') !== -1 }}is-selected{{?}}"
                           data-id="15">
                            <circle cx="374" cy="72"/>
                            <text x="385" y="75">Площадь Мужества</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('16') !== -1 }}is-selected{{?}}"
                           data-id="16">
                            <circle cx="374" cy="92"/>
                            <text x="385" y="95">Лесная</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('17') !== -1 }}is-selected{{?}}"
                           data-id="17">
                            <circle cx="374" cy="112"/>
                            <text x="385" y="115">Выборгская</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('18') !== -1 }}is-selected{{?}}"
                           data-id="18">
                            <circle cx="374" cy="133"/>
                            <text x="385" y="136">Площадь Ленина</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('19') !== -1 }}is-selected{{?}}"
                           data-id="19">
                            <circle cx="374" cy="164"/>
                            <text x="385" y="167">Чернышевская</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('110') !== -1 }}is-selected{{?}}"
                           data-transfer-id="2" data-id="110">
                            <circle cx="374" cy="191"/>
                            <text x="385" y="194">Площадь Восстания</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('111') !== -1 }}is-selected{{?}}"
                           data-transfer-id="5" data-id="111">
                            <circle cx="323" cy="241"/>
                            <text x="336" y="242">Владимирская</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('112') !== -1 }}is-selected{{?}}"
                           data-transfer-id="4" data-id="112">
                            <circle cx="316" cy="340"/>
                            <text x="248" y="355">Пушкинская</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('113') !== -1 }}is-selected{{?}}"
                           data-transfer-id="7" data-id="113">
                            <circle cx="227.5" cy="341"/>
                            <text x="72" y="332">Технологический институт</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('114') !== -1 }}is-selected{{?}}"
                           data-id="114">
                            <circle cx="161" cy="368"/>
                            <text x="83" y="369">Балтийская</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('115') !== -1 }}is-selected{{?}}"
                           data-id="115">
                            <circle cx="143" cy="386"/>
                            <text x="79" y="386">Нарвская</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('116') !== -1 }}is-selected{{?}}"
                           data-id="116">
                            <circle cx="106" cy="424"/>
                            <text x="3" y="427">Кировский завод</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('117') !== -1 }}is-selected{{?}}"
                           data-id="117">
                            <circle cx="106" cy="444"/>
                            <text x="57" y="447">Автово</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('118') !== -1 }}is-selected{{?}}"
                           data-id="118">
                            <circle cx="106" cy="464"/>
                            <text x="10" y="467">Ленинский пр-т</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('119') !== -1 }}is-selected{{?}}"
                           data-id="119">
                            <circle cx="106" cy="484"/>
                            <text x="11" y="487">Пр-т Ветеранов</text>
                        </g>
                    </g>
                    <g class="subway__line">
                        <polyline points="233,251 489,251 513,275 513,360"/>
                        <g class="subway__station {{? it.req.subway.indexOf('153') !== -1 }}is-selected{{?}}"
                           data-id="153">
                            <circle cx="513" cy="359"/>
                            <text x="526" y="362">Ул. Дыбенко</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('152') !== -1 }}is-selected{{?}}"
                           data-id="152">
                            <circle cx="513" cy="338"/>
                            <text x="526" y="341">Пр-т Большевиков</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('151') !== -1 }}is-selected{{?}}"
                           data-id="151">
                            <circle cx="513" cy="318"/>
                            <text x="526" y="321">Ладожская</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('150') !== -1 }}is-selected{{?}}"
                           data-id="150">
                            <circle cx="513" cy="298"/>
                            <text x="526" y="301">Новочеркасская</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('141') !== -1 }}is-selected{{?}}"
                           data-transfer-id="6" data-id="141">
                            <circle cx="434" cy="251"/>
                            <text x="436" y="243">Площадь Александра Невского</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('149') !== -1 }}is-selected{{?}}"
                           data-id="149">
                            <circle cx="379" cy="251"/>
                            <text x="339" y="266">Лиговский пр-т</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('147') !== -1 }}is-selected{{?}}"
                           data-transfer-id="1" data-id="147">
                            <circle cx="233" cy="251"/>
                            <text x="238" y="241">Спасская</text>
                        </g>
                        <g class="subway__station {{? it.req.subway.indexOf('148') !== -1 }}is-selected{{?}}"
                           data-transfer-id="5" data-id="148">
                            <circle cx="316" cy="251"/>
                            <text x="249" y="265">Достоевская</text>
                        </g>
                    </g>
                    <g class="subway__transfers">
                        <polyline data-transfer-id="1" stroke-width="3" points="221,251 233,251 228,260 221,251"/>
                        <polyline data-transfer-id="2" stroke-width="4" points="362,191 374,191"/>
                        <polyline data-transfer-id="3" stroke-width="4" points="227.5,184 227.5,194"/>
                        <polyline data-transfer-id="4" stroke-width="4" points="307,331 316,340"/>
                        <polyline data-transfer-id="5" stroke-width="4" points="323,241 316,251"/>
                        <polyline data-transfer-id="6" stroke-width="4" points="434,251 443,260"/>
                        <polyline data-transfer-id="7" stroke-width="4" points="227.5,329 227.5,341"/>
                    </g>
                </svg>

            </div>
        </div>

        <div class="block-search-controls">

            <div class="order">

                <label for="order-date">Сортировка:</label>

                <input id="order-date" type="radio" name="order" {{? it.req.order=== 'date' }} checked="checked" {{?}}
                value="date">
                <label title="Сортировать по дате добавления" for="order-date">по дате добавления</label>

                <input id="order-price" type="radio" name="order" {{? it.req.order=== 'price' }} checked="checked" {{?}}
                value="price">
                <label title="Сортировать по цене" for="order-price">по цене</label>

            </div>

        </div>

        <div class="block-search-results">

            <div class="search-results-head">
                <h1>Снять {{? it.req.realty === 'flat' }}квартиру{{??}}комнату{{?}} в Санкт-Петербурге</h1>
            </div>

            <div class="result-count">
                Результатов: {{= it.items_count }}
            </div>

            <div class="search-results-items">

                {{~ it.items :item }}

                <div class="search-results-item">

                    <div class="row1">

                        <div class="name">
                            {{#def.type:item.type }}
                        </div>

                        <div class="area">
                            {{? null !== item.area }}
                            , {{= item.area}} м²
                            {{?}}
                        </div>

                        <div class="price">
                            {{? null !== item.price }}
                            , {{= item.price }} &#8381; / мес
                            {{?}}
                        </div>

                        <div class="subways">
                            {{~ item.subways :subway_id }}

                            <div class="subway">

                                {{? typeof it.subways[subway_id] !== 'undefined' }}

                                {{~ it.subways[subway_id].color :color }}

                                <span class="subway-label" style="background-color: {{= color }}"></span>

                                {{~}}

                                <span class="subway-name">{{= it.subways[subway_id].name }}</span>

                                {{?}}

                            </div>

                            {{~}}
                        </div>


                        <div class="date">
                            размещено {{= item.timestamp }}
                        </div>

                    </div>
                    <div class="row2">

                        <div class="person">
                            <a href="{{= item.contacts.link }}" target="_blank" rel="nofollow">{{= item.contacts.person
                                }}</a>
                        </div>

                        {{~ item.contacts.phones :phone }}
                        <div class="phone">
                            {{= phone }}
                        </div>
                        {{~}}

                    </div>
                    <div class="row3">

                    </div>
                    {{? item.photos.length > 0 }}

                    <div class="row4">

                        <div class="previews">

                            <div class="slider">
                                {{? item.photos.length > 4 }}
                                <div class="arrow-btn left">
                                    <div class="arrow"></div>
                                </div>
                                <div class="arrow-btn right">
                                    <div class="arrow"></div>
                                </div>
                                {{?}}
                                <div class="slider-inner">
                                    {{~ item.photos :preview }}
                                    <div class="slide preview" data-src="{{= preview.high }}"
                                         style="background-image: url('{{= preview.high }}')">
                                    </div>
                                    {{~}}
                                </div>
                            </div>

                        </div>

                    </div>

                    {{?}}

                    <div class="row5">

                        <p>{{= item.description }}</p>

                    </div>

                </div>

                {{~}}
            </div>

        </div>

        <div class="block-pagination">

            {{? it.pagination.length > 1 }}

            {{##def.first_page: {{= it.pagination[0] }} #}}
            {{##def.last_page: {{= it.pagination[it.pagination.length - 1] }} #}}
            {{##def.next_page: {{= (parseInt(it.req.page) + 1) }} #}}

            {{? parseInt(it.req.page) !== 1 && parseInt(it.pagination[0]) !== 1 }}
            <input id="page-first" type="radio" name="page" value="1">
            <label for="page-first">В начало</label>
            {{?}}

            {{~ it.pagination :page }}
            <input id="page-{{= page }}" type="radio" name="page" {{? parseInt(page)=== parseInt(it.req.page) }}
                   checked="checked" {{?}}
                   value="{{= page }}">
            <label for="page-{{= page }}">{{= page }}</label>
            {{~}}

            {{? it.pagination.length > 1 && it.pagination.length > it.req.page }}
            <input id="page-next" type="radio" name="page" value="{{# def.next_page }}">
            <label for="page-next">Следующая</label>
            {{?}}

            {{?}}

        </div>

        <div class="block-card-photo-full-screen">

            <div class="btn-close">
                <img src="/img/close.svg">
            </div>

            <div class="photo">
                <img
                     src="/img/pic.gif">
            </div>

            <div class="previews">
                <div class="slider">
                    <div class="arrow-btn left">
                        <div class="arrow"></div>
                    </div>
                    <div class="arrow-btn right">
                        <div class="arrow"></div>
                    </div>
                    <div class="slider-inner">
                        <!--<div class="slide preview-full" data-src="{{= preview.high }}"-->
                             <!--style="background-image: url('{{= preview.high }}')">-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>

    </div>



    <div class="wrapper-footer">
        <div class="block-footer">
            <div class="content">
                <div class="text">SocRent - это автоматический сервис, который собирает объявления из популярных
                    социальных
                    сетей
                </div>
                <div class="divider"></div>
                <div class="text">Предложения на сайте носят информационный характер</div>
                <div class="text">Мы не несем ответственность за содержание и предложения в текстах объявлений</div>
                <div class="version">v0.1 beta</div>
            </div>
        </div>
    </div>
</div>


</body>

<script>

    var full_screen_main = document.querySelector('.block-card-photo-full-screen .photo img');
    var full_screen_previews = document.querySelector('.block-card-photo-full-screen .previews .slider-inner');
    var block_photo_full = document.querySelector('.block-card-photo-full-screen');

    var previews = document.querySelectorAll('.row4 .previews .preview');


    var closeFullScreen = function()
    {
        document.body.style.overflow = 'auto';
        block_photo_full.style.display = 'none';
    };

    document.querySelector('.btn-close').onclick = closeFullScreen;

    document.onkeydown = function (evt) {
        evt = evt || window.event;
        var isEscape = false;
        if ('key' in evt) {
            isEscape = (evt.key == 'Escape' || evt.key == 'Esc');
        } else {
            isEscape = (evt.keyCode == 27);
        }
        if (isEscape) {
            closeFullScreen();
        }
    };

    var setPreviewFull = function (e) {
        var src = e.target.getAttribute('data-src');
        full_screen_main.setAttribute('src', src);
    };

    for(var i = 0, length = previews.length; i < length; i ++) {
        previews[i].onclick = function(e) {
            console.info('click');

            full_screen_main.setAttribute('src', e.target.getAttribute('data-src'));

            var parent_previews = e.target.parentNode.querySelectorAll('.preview');

            while (full_screen_previews.firstChild) {
                full_screen_previews.removeChild(full_screen_previews.firstChild);
            }

            var previews_nodes = [];
            for(var n = 0, nlength = parent_previews.length; n < nlength; n++){
                var img = document.createElement('div');
                var src = parent_previews[n].getAttribute('data-src');
                img.setAttribute('data-src', src);
                img.style.backgroundImage = 'url(' + src + ')';
                img.className = 'slide preview-full';
                img.addEventListener('click', setPreviewFull, true);
                full_screen_previews.appendChild(img);
            }



            document.body.style.overflow = 'hidden';
            block_photo_full.style.display = 'block';
        }
    }

</script>