<!DOCTYPE html>
<html>
<head lang="ru">
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="/style/style.css">

    <title>Realty</title>

    <script src="/js/ajax.js"></script>
    <script src="/js/url.js"></script>
    <script src="/js/class.js"></script>
    <script src="/js/main.js"></script>

    <script type="text/javascript">
        function imgOnError(element) {
            element.src = '/img/blue.png';
        }
    </script>

</head>

<body>

<div class="block-header">
    <div class="content">
        Объявления из соцсетей
    </div>
</div>

<div class="block-search-filters">

    <div class="row">

        <select title="Тип недвижимости" class="filter-realty">
            <option value="flat" {{ _realty == 'flat' ? 'selected="selected"' : '' }}>Квартира</option>
            <option value="room" {{ _realty == 'room' ? 'selected="selected"' : '' }}>Комната</option>
        </select>

        <span class="filter-area" style="{{ _realty == 'flat' ? 'display:none' : '' }}">
        <input type="text" placeholder="от" class="from" value="{{ _price_from ? _price_from : '' }}">
        <input type="text" placeholder="до" class="to" value="{{ _price_to ? _price_to : '' }}">
        <span class="currency">м²</span>
    </span>

        <span class="filter-realty-add"
              style="{{ _realty == 'room' ? 'display:none' : '' }}"><input
                id="realty-0" type="checkbox"
                value="{{ constant('AppBundle\\ODM\\Document\\Note::STUDIO') }}" {{ constant('AppBundle\\ODM\\Document\\Note::STUDIO') in _realty_add ? 'checked="checked"' : '' }}><label
                for="realty-0" title="Квартиры студии">Студия</label>

        <input id="realty-1" type="checkbox"
               value="{{ constant('AppBundle\\ODM\\Document\\Note::FLAT_1') }}" {{ constant('AppBundle\\ODM\\Document\\Note::FLAT_1') in _realty_add ? 'checked="checked"' : '' }}>
         <label for="realty-1" title="Однокомнатные квартиры">1</label>

        <input id="realty-2" type="checkbox"
               value="{{ constant('AppBundle\\ODM\\Document\\Note::FLAT_2') }}" {{ constant('AppBundle\\ODM\\Document\\Note::FLAT_2') in _realty_add ? 'checked="checked"' : '' }}>
         <label for="realty-2" title="Двухкомнатные квартиры">2</label>

        <input id="realty-3" type="checkbox"
               value="{{ constant('AppBundle\\ODM\\Document\\Note::FLAT_3') }}" {{ constant('AppBundle\\ODM\\Document\\Note::FLAT_3') in _realty_add ? 'checked="checked"' : '' }}>
         <label for="realty-3" title="Трехкомнатные квартиры">3</label>

        <input id="realty-4" type="checkbox"
               value="{{ constant('AppBundle\\ODM\\Document\\Note::FLAT_N') }}" {{ constant('AppBundle\\ODM\\Document\\Note::FLAT_N') in _realty_add ? 'checked="checked"' : '' }}>
         <label for="realty-4" title="Многокомнатнтые квартиры">4+</label>

         <label>Комнат</label>
        </span>

        <button type="button" class="btn filter-subway">Метро</button>

    </div>

    <div class="row">

        <span class="filter-price">
            <input type="text" placeholder="от" class="from" value="{{ _price_from ? _price_from : '' }}">
            <input type="text" placeholder="до" class="to" value="{{ _price_to ? _price_to : '' }}">
            <span class="currency">&#8381;</span>
        </span>

        <button type="button" class="btn filter-photo">Искать с фото</button>

    </div>

    <button type="button" class="btn search-btn">Найти</button>

</div>

<div class="block-search-filters-switch">

    <div class="block-filter-subway">
        {% include 'AppBundle:Layout:subway.html.twig' %}
    </div>
</div>

<div class="block-search-controls">

    <div class="order">

        <label for="order-date">Сортировка:</label>

        <input id="order-date" type="radio" name="order" {{ _order == 'date' ? 'checked="checked"' : '' }}
        value="date">
        <label for="order-date">по дате добавления</label>

        <input id="order-price" type="radio" name="order" {{ _order == 'price' ? 'checked="checked"' : '' }}
        value="price">
        <label for="order-price">по цене</label>

    </div>

</div>

<div class="block-search-results">

    <div class="search-results-head">
        <h1>Снять {{ _realty == 'flat' ? 'квартиру' : 'комнату' }} в Санкт-Петербурге</h1>
    </div>

    <div class="result-count">
        Результатов: {{ _count_items }}
    </div>

    <div class="search-results-items">
        {% for l in list %}
        {% include 'AppBundle:Default:result-item.html.twig' with { item: l } %}
        {% endfor %}
    </div>
</div>

<div class="block-pagination">

    {% if _pages|length > 1 %}

    {% set last_page = _pages|last %}
    {% set next_page = _page + 1 %}
    {% set first_page = _pages|first %}

    {% if _page != 1 and first_page != 1 %}
    <input id="page-first" type="radio" name="page" value="1">
    <label for="page-first">В начало</label>
    {% endif %}

    {% for page in _pages %}
    <input id="page-{{ page }}" type="radio" name="page" {{ page == _page ? 'checked="checked"' : '' }}
    value="{{ page }}">
    <label for="page-{{ page }}">{{ page }}</label>
    {% endfor %}

    {% if _count_pages > 1 and _count_pages > _page %}
    <input id="page-next" type="radio" name="page" value="{{ next_page }}">
    <label for="page-next">Следующая</label>
    {% endif %}

    {% endif %}

</div>

<div class="block-footer"></div>
</body>